.navbar {
    padding: 1.3rem;
    border-bottom: 1px solid #eee;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &_logout {
        display: flex;
        flex-direction: row;

        p {
            margin: 2px auto;
            font-size: 1rem;
            color: #444;


        }
    }
}