@import '../variables';

.login {
    &-main {
        margin-top: 2%;
        display: flex;

        &_logo {
            width: 30%;

            &-area {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                margin-left: -5em;
                margin-right: 3rem;

                &_title {
                    color: $--orange-1;
                }

                &_subtitle {
                    color: $--blue-1;
                }

                &_slogan {
                    color: black;
                }
            }
        }

        &_image {
            margin-top: 10%;
            width: 80%;
        }

        &_form {
            margin-right: 20rem;
            margin-top: 5rem;
            border: 1px solid gray;
            text-align: left;
            width: 80%;

            &-area {
                margin-right: 8rem;

                .form-group {
                    margin-left: 0.2rem;
                    width: 90%;
                }
            }

            input {
                border-radius: 0.25rem;
                border: 1px solid #ced4da;
                padding-left: 0.6rem;
                height: calc(1.5em + 0.75rem + 2px);

                &:focus {
                    color: #495057;
                    background-color: #fff;
                    border-color: #80bdff;
                    outline: 0;
                    box-shadow: 0 0 0 0.1rem rgb(0 123 255 / 25%);
                }
            }

            .card-title_text {
                padding-top: 2rem;
                padding-left: 1.2rem;
                margin-bottom: -1rem;
                font-weight: 700;
                color: #4F94C0
            }
        }

        &_sign-in-btn {
            text-decoration: none;
            background: $--blue-1;
            color: white;
            font-weight: light;
            border: 0;
            border-radius: .25rem;
            padding: 10px 20px;
            margin-bottom: 1.3rem;

            &:hover {
                background-color: $--blue-2;
                border: 1px solid $--blue-2;
                border: 0;
            }
        }

        &_sign-up {
            color: $--blue-1;
        }

        .error {
            color: #ff3f80;
            font-size: 0.8rem;
            margin-top: 0.5rem;
            text-align: left;
        }
    }
}

@media screen and (max-width: 1500px) {
    .login {
        &-main {
            margin-top: 2%;
            display: flex;

            &_logo {
                width: 30%;

                &-area {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    margin-left: -5em;
                    margin-right: 3rem;

                    &_title {
                        color: $--orange-1;
                    }

                    &_subtitle {
                        color: $--blue-1;
                    }

                    &_slogan {
                        color: black;
                    }
                }
            }

            &_image {
                margin-top: 2%;
                margin-left: 3rem;
                width: 80%;
            }

            &_form {
                margin-right: 4rem;
                margin-top: 5rem;
                border: 1px solid gray;
                text-align: left;
                width: 100%;

                &-area {
                    margin-right: 8rem;

                    .form-group {
                        margin-left: 0.2rem;
                        width: 90%;
                    }
                }

                input {
                    border-radius: 0.25rem;
                    border: 1px solid #ced4da;
                    padding-left: 0.6rem;
                    height: calc(1.5em + 0.75rem + 2px);

                    &:focus {
                        color: #495057;
                        background-color: #fff;
                        border-color: #80bdff;
                        outline: 0;
                        box-shadow: 0 0 0 0.1rem rgb(0 123 255 / 25%);
                    }
                }

                .card-title_text {
                    padding-top: 2rem;
                    padding-left: 1.2rem;
                    margin-bottom: -1rem;
                    font-weight: 700;
                    color: #4F94C0
                }
            }

            &_sign-in-btn {
                text-decoration: none;
                background: $--blue-1;
                color: white;
                font-weight: light;
                border: 0;
                border-radius: .25rem;
                padding: 10px 20px;
                margin-bottom: 1.3rem;

                &:hover {
                    background-color: $--blue-2;
                    border: 1px solid $--blue-2;
                    border: 0;
                }
            }

            &_sign-up {
                color: $--blue-1;
            }

            .error {
                color: #ff3f80;
                font-size: 0.8rem;
                margin-top: 0.5rem;
                text-align: left;
            }
        }
    }
}