@import './pages/welcome';
@import 'base';
@import './pages/signup';
@import './pages/navbar';
@import 'task';
@import './pages/home';
@import './pages/tasks';
@import 'projectBoard';
@import 'project';
@import './pages/projects';