.projectBoard-main {
    display: flex;
    flex-direction: row;
    width: 100%;

    .column-title_area {
        border-bottom: 1px solid #dadada;
        display: flex;
        justify-content: space-between;

        p {
            padding-left: 5%;
            margin-bottom: 0.4rem;
        }

        .column-options {
            padding-right: 0.5rem;

            i {
                margin: 0.4rem 0.5rem;
                cursor: pointer;
            }
        }
    }

    .column-body_area {
        i {
            margin: 0.4rem 0.5rem;
            cursor: pointer;
        }
    }

    .drop-zone {
        width: 100%;
        margin: 3rem 0.5rem;
        background-color: #ecf0f1;
        padding: 5px;
        min-height: 10px;
    }

    .drag-el {
        background-color: #3498db;
        color: white;
        padding: 5px;
        margin-bottom: 10px;
    }

    .drag-el:nth-last-of-type(1) {
        margin-bottom: 0;
    }
}