$--orange-1: #fd7e14 !default;
$--orange-2: #f9a825 !default;
$--orange-3: #f9d826 !default;

$--blue-1: #40ABDE !default;
$--blue-2: #4F94C0 !default;
$--blue-3: #5F9EC0 !default;

$--red-1: #E84444 !default;